native/node_modules/
native/dist/
native/target/

native/build/**/watch-with-mpv-native-*
native/build/**/moe.winneon.watchwithmpv.json
!native/build/moe.winneon.watchwithmpv.json

**/*.crx
**/*.pem
**/*.zip
**/*.rs.bk
**/.DS_Store
**/._*
