native/node_modules/
native/dist/

native/build/**/watch-with-mpv-native-*
native/build/**/moe.winneon.watchwithmpv.json
!native/build/moe.winneon.watchwithmpv.json

*.crx
*.pem
*.zipa

.DS_Store
._*
